dist: bionic
language: cpp
compiler: g++

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/2.1.0/bazel_2.1.0-linux-x86_64.deb
  - sha256sum --check utils/bazel_2.1.0-linux-x86_64.deb.sha256
  - sudo dpkg --install bazel_2.1.0-linux-x86_64.deb

script:
  - bazel build --sandbox_debug --verbose_failures --compilation_mode opt ...
