<table id="clueweb_results_table" class="hover" style="width:100%">
   <thead>
      <tr>
         <th>Problem</th>
         <th>T1</th>
         <th>T72 (h)</th>
         <th>Speedup</th>
      </tr>
   </thead>
   <tbody>

<tr><td>Breadth-First Search                       </td><td>106  </td><td>2.29 </td><td>46.2</td></tr>
<tr><td>Integral-Weight SSSP (weighted BFS)        </td><td>736  </td><td>14.4 </td><td>51.1</td></tr>
<tr><td>General-Weight SSSP (Bellman-Ford)         </td><td>1050 </td><td>16.2 </td><td>64.8</td></tr>
<tr><td>Single-Source Betweenness Centrality (BC)  </td><td>569  </td><td>27.7 </td><td>20.5</td></tr>
<tr><td>Low-Diameter Decomposition  (LDD)          </td><td>176  </td><td>3.62 </td><td>48.6</td></tr>
<tr><td>Connectivity                               </td><td>552  </td><td>11.2 </td><td>49.2</td></tr>
<tr><td>Biconnectivity                             </td><td>2250 </td><td>48.7 </td><td>46.2</td></tr>
<tr><td>Strongly Connected Components (SCC)*       </td><td>1240 </td><td>38.1 </td><td>32.5</td></tr>
<tr><td>Minimum Spanning Forest (MSF)              </td><td>2490 </td><td>45.6 </td><td>54.6</td></tr>
<tr><td>Maximal Independent Set (MIS)              </td><td>551  </td><td>8.44 </td><td>65.2</td></tr>
<tr><td>Maximal Matching  (MM)                     </td><td>1760 </td><td>31.8 </td><td>55.3</td></tr>
<tr><td>Graph Coloring                             </td><td>2050 </td><td>49.8 </td><td>41.1</td></tr>
<tr><td>$k$-core                                   </td><td>2370 </td><td>62.9 </td><td>37.6</td></tr>
<tr><td>Approximate Set Cover                      </td><td>1490 </td><td>28.1 </td><td>53.0</td></tr>
<tr><td>Triangle Counting (TC)                     </td><td>---  </td><td>272  </td><td>--- </td></tr>

   </tbody>
</table>
