<table id="hyperlink2014_results_table" class="hover" style="width:100%">
   <thead>
      <tr>
         <th>Problem</th>
         <th>T1</th>
         <th>T72 (h)</th>
         <th>Speedup</th>
      </tr>
   </thead>
   <tbody>

<tr><td>Breadth-First Search                       </td><td>250   </td><td>4.50 </td><td>55.5</td></tr>
<tr><td>Integral-Weight SSSP (weighted BFS)        </td><td>1390  </td><td>22.3 </td><td>62.3</td></tr>
<tr><td>General-Weight SSSP (Bellman-Ford)         </td><td>1460  </td><td>22.9 </td><td>63.7</td></tr>
<tr><td>Single-Source Betweenness Centrality (BC)  </td><td>866   </td><td>16.3 </td><td>53.1</td></tr>
<tr><td>Low-Diameter Decomposition  (LDD)          </td><td>322   </td><td>6.84 </td><td>47.0</td></tr>
<tr><td>Connectivity                               </td><td>990   </td><td>17.1 </td><td>57.8</td></tr>
<tr><td>Biconnectivity                             </td><td>3520  </td><td>71.5 </td><td>49.2</td></tr>
<tr><td>Strongly Connected Components (SCC)*       </td><td>2140  </td><td>51.5 </td><td>41.5</td></tr>
<tr><td>Minimum Spanning Forest (MSF)              </td><td>3580  </td><td>71.9 </td><td>49.7</td></tr>
<tr><td>Maximal Independent Set (MIS)              </td><td>1020  </td><td>14.5 </td><td>70.3</td></tr>
<tr><td>Maximal Matching  (MM)                     </td><td>2980  </td><td>48.1 </td><td>61.9</td></tr>
<tr><td>Graph Coloring                             </td><td>3310  </td><td>63.1 </td><td>52.4</td></tr>
<tr><td>$k$-core                                   </td><td>3480  </td><td>83.2 </td><td>41.8</td></tr>
<tr><td>Approximate Set Cover                      </td><td>2040  </td><td>37.6 </td><td>54.2</td></tr>
<tr><td>Triangle Counting (TC)                     </td><td>---   </td><td>568  </td><td>--- </td></tr>

   </tbody>
</table>


