<h3>BFS</h3>

<table id="hyperlink2012_comparisons_table" class="display" style="width:100%">
   <thead>
      <tr>
        <th>Running Time</th>
         <th>Num. Cores</th>
         <th>Amt. Memory</th>
         <th>Amt. Flash</th>
         <th>Amt. HDD</th>
         <th>Type</th>
         <th>System</th>
      </tr>
   </thead>
   <tbody>
      <tr>
        <td>10.7</td>
        <td>72</td>
        <td>350GB</td>
        <td>---</td>
        <td>---</td>
        <td>Shared Memory</td>
        <td>GBBS/Ligra</td>
      </tr>
   </tbody>
</table>
