<table id="hyperlink2014_results_table" class="hover" style="width:100%">
   <thead>
      <tr>
         <th>Problem</th>
         <th>T1</th>
         <th>T72 (h)</th>
         <th>Speedup</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Breadth-First Search</td>
         <td>649</td>
         <td>10.7</td>
         <td>60</td>
      </tr>
<tr><td>Integral-Weight SSSP (weighted BFS)        </td><td> 3770   </td><td> 58.1  </td><td> 64</td></tr>
<tr><td>General-Weight SSSP (Bellman-Ford)         </td><td> 4010   </td><td> 59.4  </td><td> 67</td></tr>
<tr><td>Single-Source Betweenness Centrality (BC)  </td><td> 2260   </td><td> 37.1  </td><td> 60</td></tr>
<tr><td>Low-Diameter Decomposition  (LDD)          </td><td> 1150   </td><td> 19.6  </td><td> 58</td></tr>
<tr><td>Connectivity                               </td><td> 2080   </td><td> 38.3  </td><td> 54</td></tr>
<tr><td>Biconnectivity                             </td><td> 9860   </td><td> 165   </td><td> 59</td></tr>
<tr><td>Strongly Connected Components (SCC)*       </td><td> 8130   </td><td> 185   </td><td> 43</td></tr>
<tr><td>Minimum Spanning Forest (MSF)              </td><td> 9520   </td><td> 187   </td><td> 50</td></tr>
<tr><td>Maximal Independent Set (MIS)              </td><td> 2190   </td><td> 32.2  </td><td> 68</td></tr>
<tr><td>Maximal Matching  (MM)                     </td><td> 7150   </td><td> 108   </td><td> 66</td></tr>
<tr><td>Graph Coloring                             </td><td> 8920   </td><td> 158   </td><td> 56</td></tr>
<tr><td>$k$-core                                   </td><td> 8515   </td><td> 184   </td><td> 46</td></tr>
<tr><td>Approximate Set Cover                      </td><td> 5630   </td><td> 98.4  </td><td> 57</td></tr>
<tr><td>Triangle Counting (TC)                     </td><td> ---    </td><td> 1470  </td><td> ---</td></tr>

   </tbody>
</table>
